<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Facisa</h1>
      </ion-header-bar>
      <ion-content ng-controller="chatController">
    		
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome:</span>
            <input type="text" placeholder="Digite aqui seu nome" ng-model="nome">
          </label>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Digite sua mensagem" ng-model="texto">
            </label>
            <button ng-click="enviarMensagem()" class="button button-small">
              Enviar
            </button>
          </div>

        </div>

        <ion-list>
    			<ion-item ng-repeat="item in items">
    				{{item.val.hora}} - {{item.val.nome}} diz: {{item.val.texto}}
    			</ion-item>
    		</ion-list>

      </ion-content>
    </ion-pane>
	
  <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAmcyrahcKplU0GxTDvYP_emLAb6DNhYlw",
      authDomain: "ionicfacisa.firebaseapp.com",
      databaseURL: "https://ionicfacisa.firebaseio.com",
      storageBucket: "ionicfacisa.appspot.com",
      messagingSenderId: "598086274841"
    };
    firebase.initializeApp(config);
  </script>

  </body>
</html>
